@keyframes slideIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.firstSection {
  animation: 0.8s ease-out 0s 1 slideIn;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(50%);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

.techs {
  animation: 0.8s ease-out 0s 1 slideInFromRight;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

.box {
  animation: 0.8s ease-out 0s 1 slideInFromLeft;
}

