html {
    scroll-behavior: smooth;
}
.firstSection{
  font-family: 'Albert Sans';
  text-align: center;
  padding:10px;
  height:320px;
}
.mainName{
  font-size: 65px;
  font-weight: bold;

}
.name{
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}




.tagLine{
  font-size: 24px;
  padding:10px;
}

.nav-link {
    font-family: 'Albert Sans';
    margin-left: 5px;
}

.nav-link:hover {
    text-decoration: underline;
    text-decoration-color: black;
}
a {
    text-decoration: none;
}
.resumeBtn{
  width: 90px;
  color: white;
  background-color:#007FFF;
  border:none;
  border-radius:7px;
  height: 32px;
  width: 70px;
  margin-left: 5px;
  margin-top: 3px;
}
.secondSection{
    margin: 18px;
}
.subHeading{
  font-weight: bold;
  font-size: 38px;
  margin-top: 35px;
}
.myIntro{
  padding:15px;
  font-family: 'Albert sans';
  text-align:center;
}
.myIntroText{
  padding:15px;
  font-size: 20px;
}
.myTechStack{
  font-size: 18px;
  padding:15px;
  font-family: 'Albert sans';
  text-align:center;
}
.technology{
  /* justify-content: center;
  display: flex; */
}
.technology1{
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  justify-content: center;
  display: flex;
}
.techIcons{
  width:38px;
  height:38px;
}
.techtext{
  font-family: 'Albert sans';
  font-size: 20px;
}
.techs{
  margin: 40px 20px;
}

.techGrp1{
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}
.techGrp2{
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;

}
.thirdSection{
  font-family: 'Albert sans';
  text-align: center;
}
.navbar-toggler{
  color: black;
}
a{
  text-decoration: none;
}
.box{
  margin: 40px;
  width: 340px;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  border-radius: 8px;
}
.subHeadings{
  font-weight: bolder;
  font-size: 25px;
  margin-top: 10px;
}
.projectImg{
  height: 180px;
  width: 310px;
  border-radius: 8px;
  margin:10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.projectContent{
  font-family: 'Albert sans';
  font-size: 20px;
  padding: 25px;
  margin: 5px;
}
#projectBtn{
  margin:15px;
  font-size: 20px;
  height: 40px;
}
.fourthSection{
  font-family: 'Albert sans';
  text-align: center;
}
.firstBlog{
      text-align: center;
      height: 320px;
      padding: 17px;
      width: 600px;
      margin: 10px;
      font-size: 22px;
}
.hashNodeText{
  font-size: 30px;
  font-weight: bolder;
  margin-top: 10px;
}
.fifthSection{
  background-color: #002244;
  height: 180px;
}
.socialAccounts {
    padding: 15px;
}
.socialImages1{
  height: 45px;
  margin-top:20px;
  width: 45px;
   transition:width 0.5s, height 0.5s,  background-color 0.5s, transform 0.5s;
}
.socialImages1:hover{
  height: 55px;
  width: 55px;

}
.socialImages2{
  height: 45px;
  margin-top:20px;
  /* border: 1px white solid; */
  width: 45px;
  transition:width 0.5s, height 0.5s,  background-color 0.5s, transform 0.5s;

}
.socialImages2:hover{
  height: 55px;
  width: 55px;

}
.socialImages3{
  height: 45px;
  margin-top:20px;
  /* border: 1px white solid; */
  width: 45px;
  transition:width 0.5s, height 0.5s,  background-color 0.5s, transform 0.5s;

}
.socialImages3:hover{
  height: 55px;
  width: 55px;

}
.socialImages4{
  height: 45px;
  margin-top:20px;
  /* border: 1px white solid; */
  width: 45px;
  transition:width 0.5s, height 0.5s,  background-color 0.5s, transform 0.5s;

}
.socialImages4:hover{
  height: 55px;
  width: 55px;

}
#myBtn {

  align:right;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background: transparent;
  color: black;
  cursor: pointer;
  padding: 10px;
  border-radius:50%;
  font-size: 18px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}
