html {
  scroll-behavior: smooth;
}
@media only screen and (min-width: 768px){
  .mainBody{
    width: 860px;
  }
  .mainDiv{
    display: flex;
    justify-content: center;
  }
}
#navigation{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  margin: 8px 14px;
  border-radius: 12px;
}
.Navbar {
  background-color: white;
  display: flex;
  padding: 16px;
  font-family: sans-serif;
  color: black;

}
.Navbar__Link-brand {
  font-weight: bold;
  font-size: 35px;
  font-family: "Albert Sans";
}
.Navbar__Link {
  margin: 12px 14px;
}

.Navbar__Items {
  display: flex;
}

.Navbar__Items--right {
  margin-left: auto;
}

.Navbar__Link-toggle {
  display: none;
}
.Navbar__Link:hover{
  text-decoration: underline;
  color: black;

}
.Navbar__Link {
  font-family: "Albert Sans";
  text-decoration: none;
  color: black;
}
@media only screen and (max-width: 768px) {
  .Navbar__Items,
  .Navbar {
    flex-direction: column;
 
  }
  
  .Navbar__Items {
    display: none;
  }

  .Navbar__Items--right {
    margin-left: 0;
  }

  .Navbar__ToggleShow {
    display: flex;
  }
  .Navbar__Link {
    margin: 8px 2px;
  }
  .Firstlink {
    margin-top: 15px;
  }
  .Navbar__Link-toggle {
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
    margin-top: 10px;
  }
 
}
.firstSection {
  font-family: "Albert Sans";
  /* text-align: center; */
  padding: 10px;
  margin: 30px 5px;
  /* height: 320px; */
}
.mainName {
  font-size: 60px;
  font-weight: bold;
  text-align: center;
}
.name {
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.tagLine {
  font-size: 20px;
  margin-top: 6px;
}
.resumeBtn {
  width: 90px;
  color: white;
  background-color: #007fff;
  border: none;
  border-radius: 7px;
  height: 32px;
  width: 70px;
  margin-left: 5px;
  margin-top: 3px;
}
.secondSection {
  margin: 18px;
}
.subHeading {
  font-weight: bold;
  font-size: 38px;
  margin-top: 35px;
}
.myIntro {
  padding: 15px;
  font-family: "Albert sans";
  text-align: center;
}
.myIntroText {
  padding: 15px;
  font-size: 20px;
}
.myTechStack {
  font-size: 18px;
  padding: 15px;
  font-family: "Albert sans";
  text-align: center;
}
.technology {
  /* justify-content: center;
  display: flex; */
}
.technology1 {
  /* box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset; */
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.techIcons {
  width: 38px;
  height: 38px;
}
.techtext {
  font-family: "Albert sans";
  font-size: 20px;
}
.techs {
  background-color: rgb(227, 227, 227);
  margin: 30px 20px;
  padding:14px;
  border-radius: 10px;
}
.thirdSection {
  font-family: "Albert sans";
  text-align: center;
}
.box {
  margin:40px;
  width: 340px;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  border-radius: 8px;
}
.subHeadings {
  font-weight: bolder;
  font-size: 25px;
  margin-top: 8px;
}
.projectImg {
  height: 180px;
  width: 320px;
  border-radius: 8px;
  margin: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.projectContent {
  font-family: "Albert sans";
  font-size: 18px;
  padding: 20px;
  margin: 5px;
  height: 160px;
}
#projectBtn {
  margin: 15px;
  font-size: 20px;
  height: 40px;
}
.fourthSection {
  font-family: "Albert sans";
  
}
.firstBlog {
  text-align: left;
  padding: 10px;
  margin: 10px;
  font-size:20px;
}
.hashNodeText {
  font-size: 30px;
  font-weight: bolder;
  margin-top: 10px;
}
.fifthSection {
  background-color: #002244;
  height: 180px;
}
.socialAccounts {
  padding: 15px;
}
.socialImages1 {
  height: 45px;
  margin-top: 20px;
  width: 45px;
  transition: width 0.5s, height 0.5s, background-color 0.5s, transform 0.5s;
}
.socialImages1:hover {
  height: 55px;
  width: 55px;
}
.socialImages2 {
  height: 45px;
  margin-top: 20px;
  /* border: 1px white solid; */
  width: 45px;
  transition: width 0.5s, height 0.5s, background-color 0.5s, transform 0.5s;
}
.socialImages2:hover {
  height: 55px;
  width: 55px;
}
.socialImages3 {
  height: 45px;
  margin-top: 20px;
  /* border: 1px white solid; */
  width: 45px;
  transition: width 0.5s, height 0.5s, background-color 0.5s, transform 0.5s;
}
.socialImages3:hover {
  height: 55px;
  width: 55px;
}
.socialImages4 {
  height: 45px;
  margin-top: 20px;
  /* border: 1px white solid; */
  width: 45px;
  transition: width 0.5s, height 0.5s, background-color 0.5s, transform 0.5s;
}
.socialImages4:hover {
  height: 55px;
  width: 55px;
}


.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}
